.project {
  width: 100%;
  width: 350px;
  position: relative;
  margin-top: 25px;
  background-color: #978e85;
  padding: 5px;
  border-radius: 12px;
  padding-bottom: 2px;
  cursor: url("https://res.cloudinary.com/pancholiraj/image/upload/v1657905825/roots/cursor_whppiy.png"),
    auto;
}

.h2Border {
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 7%;
  width: 100%;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

.projectName {
  margin: 0;
  /* padding: 0 10px; */
  color: #978e85;
  font-size: 1em;
}

.hoverVideo video {
  border-radius: 10px;
}
.hoverVideo img {
  border-radius: 10px;
}

/* media query */

@media screen and (max-width: 362px) {
  .projectName {
    font-size: 13px;
    margin-top: 3px;
  }
}
@media screen and (max-width: 298px) {
  .projectName {
    font-size: 10px;
    margin-top: 2px;
  }
}
